<!doctype html>
<html lang="en" data-framework="backbonejs">
	<head>
		<meta charset="utf-8">
		<title>My spendings</title>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<section id="spendzapp">
			<header id="header">
				<h1>$pendings</h1>
				<div id="new-spending">
					<!-- filled by app -->
				</div>
			</header>
			<section id="main">
				<ul id="spendings-list">
					<!-- filled by app -->
				</ul>
			</section>
			<footer id="footer"></footer>
		</section>
		<footer id="info">
			<p>Double-click to edit a spending</p>
		</footer>

		<!-- templates to be used by backbone -->

		<script type="text/template" id="item-template">
			<div class="view">
				<label class="title"><%- title %></label>
				<label class="value"><%- value %></label>
				<label><%- currency %></label>
				<label><%- time %></label>
				<button class="destroy">X</button>
			</div>
			<input class="edit edit-title" value="<%- title %>" placeholder="what?">
			<input class="edit edit-value" value="<%- value %>" placeholder="0">
			<select name="currency" class="edit edit-currency">
			<% _.each(currencies, function(currency) { %>
				<option value="<%= currency.name %>"><%= currency.name %>
			<% }); %>
			</select>
			<input type="button" class="edit submit-spending" value="submit"></input>
		</script>

		<script type="text/template" id="stats-template">
			<span id="spendings-amount"><strong><%= total %> <%= currency %></strong> spent  on </span>
			<span id="spendings-count"><strong><%= count %></strong> <%= count === 1 ? 'spending' : 'spendings' %> </span>
			<h3>Filter spendings:</h3>
			<ul id="filters">
				<li>
					<a href="#/all">All</a>
				</li>
				<li>
					<a href="#/food">Food</a>
				</li>
			</ul>
		</script>

		<!-- script files needed -->
		<script src="bower_components/jquery/jquery.js"></script>
		<script src="bower_components/underscore/underscore.js"></script>
		<script src="bower_components/backbone/backbone.js"></script>
		<script src="bower_components/backbone.localStorage/backbone.localStorage.js"></script>
		<script src="js/models/spending.js"></script>
		<script src="js/collections/spendings.js"></script>
		<script src="js/views/spending-view.js"></script>
		<script src="js/views/app-view.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>