<!doctype html>
<html lang="en" data-framework="backbonejs">
	<head>
		<meta charset="utf-8">
		<title>My spendings</title>
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<div class="container">
			<section id="spendzapp">
				<header id="header">
					<img id="logo" src="logo.svg"></img>
					<div id="new-spending">
						<!-- filled by app -->
					</div>
				</header>
				<section id="main">
					<ul id="spendings-list">
						<!-- filled by app -->
					</ul>
					<div id="stats" >
						<!-- filled by app -->
					</div>
					<a  href="#">
						<button  id="select-all" class="btn tag">select all</button>
					</a>
					<p class="info">Double-click to edit a spending or click on a tag to filter spendings</p>
					<p class="info">Please don't spend 2 much moneyz!</p>
				</section>
				<footer id="footer"></footer>
			</section>
		</div>
		<footer id="info">
		</footer>

		<!-- templates to be used by backbone -->

		<script type="text/template" id="item-template">
			<div class="row view">
			  <div class="col-xs-2">
			    <label class="title"><%- title %></label>
			  </div>
			<div class="tags col-xs-2">
				<% _.each(tags, function(tag) { %>
					<a href="#<%= tag %>">
					<span class="label tag tag-<%= tag %>"><%= tag %></span>
					</a>
					<% }); %>
			</div>
			 <div class="col-xs-2">
			  <label class="value"><%- value %></label>
			</div>
			<div class="col-xs-2">
			  <label ><%- currency %></label>
			</div>
			<div class="col-xs-3">
			<label ><%- time %></label>
			</div>
			<div class="col-xs-1">
				<button class="btn destroy">X</button>
			</div>
			</div> 
			<div class="row inputs">
			<div class="col-xs-2">
			<input type="text" class="edit edit-title form-control" value="<%- title %>" placeholder="item">
			</div>
			<div class="col-xs-2">
			<input type="text" class="edit edit-tags form-control" value="<%- tagsString %>" placeholder="tags">
			</div>
			<div class="col-xs-2">
			<input type="number" class="edit edit-value form-control" value="<%- value %>" placeholder="price">
			</div>
			<div class="col-xs-2">
			<select name="currency" class="edit edit-currency form-control">
			<option value="<%= currency %>" class="total-currency-option"><%= currency %>
			<% _.each(currencies, function(curr) { 
				if (curr.name != currency ) { %>
					<option value="<%= curr.name %>"><%= curr.name %>
					<% }
				}); %>
			</select>
			</div>
			<div class="col-xs-3">
			<input type="date" class="edit edit-time form-control"  value="<%= time %>">
			</div>
			<div class="col-xs-1">
			<input type="button" class="edit submit-spending btn" value="submit"></input>
			</div>
			</div>
		</script>

		<script type="text/template" id="stats-template">
			<span id="spendings-amount"><strong><%= total %></strong> 
			<select name="currency" id="total-currency-select" class="form-control">
			// first print the currently choosen currency
			<option value="<%= currency %>" class="total-currency-option"><%= currency %>
			<% _.each(currencies, function(curr) { %>
				<% if (curr.name != currency) { %>
				<option value="<%= curr.name %>" class="total-currency-option"><%= curr.name %>
				<% } %>
			<% }); %>
			</select>
			spent  on </span>
			<span id="spendings-count"><strong><%= count %> <%= category %></strong> <%= count === 1 ? 'item' : 'items' %> </span>
		</script>

		<!-- script files needed -->
		<script src="bower_components/jquery/jquery.js"></script>
		<script src="bower_components/underscore/underscore.js"></script>
		<script src="bower_components/backbone/backbone.js"></script>
		<script src="bower_components/backbone.localStorage/backbone.localStorage.js"></script>
		<script src="js/models/spending.js"></script>
		<script src="js/collections/spendings.js"></script>
		<script src="js/views/spending-view.js"></script>
		<script src="js/views/app-view.js"></script>
		<script src="js/app.js"></script>
		<script src="js/routers/router.js"></script>
	</body>
</html>