
body {
	text-align: center;
	background-color: rgb(248, 248, 248);
}
ul {
	padding-left: 0px;
}
li {
	list-style-type: none;
}
.row .edit {
	display: none;
}

#logo {
	width: 30%;
	margin: 20px 0px;
}
.label {
	background-color: grey;
}
a:hover {
	text-decoration: none;
}
.view, .inputs {
	text-align: left;
	padding: 0px 20px;
}
#new-spending {
	margin-bottom: 30px;
	padding: 20px 20px;
	background-color: lightskyblue;
	border-radius: 10px;
}
.submit-spending {
	/*width: 100%;*/
}
.input-group {
	/*width: 80%;*/
}
#total-currency-select {
	width: 100px;
	display: inline;
}
.view > div, .inputs > div {
   padding: 0 !important;
   margin: 0 !important;
}
.input-group .form-control {
	float: left;
	width: auto;
}
#stats {
	width: auto;
}
#stats, #select-all {
	margin: 15px 0px;
}
.faded, p.info {
	opacity: 0.4;
}
.editing .view {
	display: none;
}

.editing .edit {
	display: inline;
}

.container {
	width: 60%;
}
@media (max-width: 768px) {
	body, .form-control {
		font-size: 10px !important;
	}
	#new-spending {
padding: 10px 0px;		

	}
	.container{
		width: 100%;
	}
}